@media (min-width: 768px) {
    .header__section {
      height: 80px;
      width: 100%;
      background-color: #fdd371;
    }
  
    .header__name {
      float: left;
      color: #524c49;
      font-weight: 500;
      font-size: 35px;
      margin: 15px 4%;
    }
    .header__name span {
      color: #f99f6f;
    }
  
    .header__nav {
      float: right;
      height: 80px;
    }
  
    .navbar {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      line-height: 80px;
    }
    .navbar li {
      color: #524c49;
      padding-right: 10%;
      font-size: 2rem;
    }
    .navbar li a {
      color: #524c49;
    }
    .navbar li a:active {
      color: #f99f6f;
    }
  
    .header__mobile {
      display: none;
    }
}

@media (max-width: 768px) {
        header {
          display: none;
        }
      
        .header__mobile {
          height: 60px;
          width: 100%;
          background-color: #fdd371;
          color: #524c49;
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
        }
      
        
        .header__name {
          float: left;
          color: #524c49;
          font-weight: 500;
          font-size: 35px;
          margin-left: 20px;
          padding-top: 5px;
        }
        .header__name span {
          color: #f99f6f;
        }
      
        #sidebar {
          height: 100%;
          width: 0;
          position: fixed;
          z-index: 20;
          top: 0;
          right: 0;
          background-color: #fdd371;
          color: #524c49;
          overflow-x: hidden;
          padding-top: 60px;
          transition: 0.5s;
        }
        #sidebar a {
          padding: 10px;
          display: block;
          transition: 0.3s;
          font-size: 2rem;
          color: #524c49;
          text-align: center;
        }
        #sidebar a:hover {
          color: #524c49;
        }
        #sidebar a:active {
          color: #f99f6f;
        }
      
        #btn--close {
          position: absolute;
          top: 0;
          right: 25px;
          margin-left: 50px;
          font-size: 2rem;
        }
      
        #btn--open {
          float: right;
          cursor: pointer;
          margin: 10px 20px;
          font-size: 30px;
        }
        #btn--open:hover {
          color: #f99f6f;
        }
    }